@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    font-family: 'Ubuntu',sans-serif;

}
.error{
    border: 2px solid red;
}
.thank-img{
    height: 150px;
    object-fit: cover;
}
.gap{
    padding-top: 150px;
    margin: auto;
}
a{
    text-decoration: none;
}
.box{
  border-radius: 12px;
  background:cornsilk;
}
.title{
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
}
.layout-content{
    display: flex;
    flex-direction: row;
   
}
.org-container{
    width: 100%;
    margin-left: 20px;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;

}
/* @media (max-width:700px){
    .main .container .row{
        display: grid;
        grid-template-columns: repeat(1,auto);
    }
    .main .container{
        width: 50%;
    }
    .container .login{
        width: 70%;
    }
} */
.pin-res{
    width: 50%;
}
.filter-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: sticky;
    top: 0;
}
.filter-div .filter-inputs{
    display: flex;
}
.filter-div .filter-inputs input{
    margin-left: 10px;
}
.filter-div .filter-btns{
    display: flex;
}
.filter-div .filter-btns button{
    margin-left: 10px;
}
.home-page{
    width: 100%;
    height: 100%;
    background: url(https://media.tenor.com/5xVYlqLYLZMAAAAC/welcome.gif);
    background-position: center;
    background-repeat: no-repeat;
}
.inp-width{
    width: 50%;
}
Button{
    border: none;
}
.myflex{
    /* display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; */
    gap:10px;
}
.card-body{
    overflow: hidden;
}
.flex-con{
    display: flex;
    justify-content: space-between;
}
.inp-shadow{
    box-shadow: 2px 2px 2px black;
    filter: drop-shadow(0 0 0.50rem rgb(83, 4, 230));
}
h6{
    font-weight: 800;
    font-family: 'Ubuntu',sans-serif;
    letter-spacing: 0.5px;
}
@media(max-width:768px){
    .pin-res{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .title{
        font-size: 1rem;
        text-align: center;
        font-weight: 400;
    }
    .filter-div{
        display: flex;
        flex-wrap: wrap;
    }
    .filter-div .filter-btns{
        display: flex;
        margin-top: 10px;
    }
    .myflex{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap:10px;
        flex-direction: column;
    }
}